/*
Needs divs with following classes to be in the HTML
.loader-container
  .triangle
  .triangle
credits: https://codepen.io/banik/pen/gdKWrq
*/ 

 .loader-container{
     position:absolute;
     animation: rotate 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
 .triangle {
     position: relative;
     text-align: left;
     transform-origin: 33.33% 66.66%;
}
 .triangle:before , .triangle:after {
     content: '';
     position: absolute;
     background: inherit;
}
 .triangle,.triangle:before,.triangle:after {
     width: 2.3em;
     height: 2.3em;
     border-top-right-radius: 20%;
}
 .triangle:before{
     transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%) 
}
 .triangle:after{
     transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%) 
}
 .triangle:first-of-type{
     background:#ffff00;
     transform: rotate(-60deg) skewX(-30deg) scale(1,.866) translate(143.33%, 110%);
     animation: first 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
 .triangle:last-of-type{
     background:#ffff00;
     transform: rotate(0deg) skewX(-30deg) scale(1,.866) translate(-100%,-4%);
     animation: last 3s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

 @keyframes rotate {
     0%{
        transform:rotate(0deg)
    }
     33%{
        transform:rotate(-120deg)
    }
     66%{
        transform:rotate(-240deg)
    }
     100%{
        transform:rotate(-360deg)
    }
}
 @keyframes first {
     0%{
        transform: rotate(-60deg) skewX(-30deg) scale(1,.866) translate(143.33%, 110%);
    }
     33%{
        transform: rotate(-60deg) skewX(-30deg) scale(1,.866) translate(-76.67%, -120%);
    }
     66%{
        transform: rotate(-60deg) skewX(-30deg) scale(1,.866) translate(-76.67%, 112%);
    }
}
 @keyframes last {
     0%{
        transform: rotate(0deg) skewX(-30deg) scale(1,.866) translate(-100%,-4%);
    }
     33%{
        transform: rotate(0deg) skewX(-30deg) scale(1,.866) translate(134%,-4%);
    }
     66%{
        transform: rotate(0deg) skewX(-30deg) scale(1,.866) translate(-89%,-214%);
    }
}
