/*
General style for the UI
*/
body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: gold;
}
body a{color:inherit; text-decoration: none;}
.centered{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:200px;
  margin-bottom:200px;
  text-align: center;
  padding: 10%;
  border-radius: 2rem;
  background-color: white;
}
.error-message{
  color: red;
  background-color: lavenderblush;
  border: solid 1px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: left;
}
.close-error-btn{
  font-size: 0.5rem;
  text-align: right;
}
#searchbar{
  width: 75%;
  min-width: 15rem;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px 5px;
}
#searchbutton{
  min-width: 15%;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 2px 5px;
  display: inline-flex;
}
#loading-zone{
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 3rem;
    width: 0px;
    display: none;
}
#results-zone{text-align: left; margin-top: 1.5rem;}
#answer-title{font-size: 3rem;}
#answer-description{color:gray;}
#answer-text{font-size: 1.5rem;}
.simple-loader{
  border: 0.25rem solid lightgrey;
  border-top: 0.25rem solid darkgray; 
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  margin: auto;
  animation: simple-spin 2s linear infinite;
}

@keyframes simple-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}